html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
	background: #e4f0b6;
	line-height: 1.15;
}
header{
	background: #669900;
	text-align: center;
	height: 120px;
	margin: 20px 5px;
	padding: 5px;
	border-style: ridge;
	border-width: 10px;
	border-color: #ccc500;
}
h1{
	font-family: Arial;
	font-size: 70px;
	color: #e7eb1e;
}
.navigation {
	font-size: 0;
}
.navigation li{
	display: inline-block;
	font-size: 18px;
	margin: 5px;
	border: outset 3px #f2ad46;
	background-color: #f2d646
}
.navigation li>a {
	padding: 5px;
}
main {
	background-image: url(../images/body.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
/* .text_on_top, .text{ */
	/* background:none; */
	/* border-left: 0; */
	/* background-color:  */
/* } */
.img{
	text-align: center;
	/* width: 900px; Почему у меня так не выходит задать ширину картинки, только в html-файле??  */
}
.container {
	position: relative;
	/* width: 900px; Почему у меня так не выходит задать ширину картинки, только в html-файле??*/ 
	font-size: 0;
}
.inscription {
	position: absolute;
	background-color: #f4f739fd;
	opacity: 0.6;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	font-size: 20px;
}
h3{
	font-size: 30px;
	color: red;
	margin: 25px 25px 25px 35px;
}
ol{
	font-size: 20px;
	margin-left: 40px;
}
h2{
	font-size:180%;
	color: #209c02;
	margin: 25px;
}
.text{
	background: #fcf8e6;
	font-size: 20px;
	color: #8a6c03;
	text-align: justify;
	border: dashed 3px orange;
	margin: 20px;
   padding: 15px;
}
.anchor{
	text-align: center;
	margin: 25px;
	padding: 5px;
	background: #f7cebc;
	border: outset 3px #f75814;
	font-family: Arial;
}
footer{
	background: #03998f;
	border: groove 3px #005a6e;
	padding: 10px;
	margin: 20px 5px;
	font-size: 18px;
}