header {background: #669900;
	text-align: center;
	height: 150px;
	margin: 20px;
	padding: 40px;
	border-style: ridge;
	border-width: 10px;
	border-color: #ccc500
	}
h1 {font-family: Arial;
	font-size: 70px;
	color: #e7eb1e
		}
body {
	background: #e4f0b6
}